# Security configuration
SECRET_KEY=django-insecure-7j^gj5m9+pw-9r_=gbcd(_*71=^+)1c7y$ah_zb1glgf87n8e9

# Database configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=use_case_hub
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432
